<!DOCTYPE html>
<html lang="en-US"> <!-- en en-US s -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{{{ links }}}
	
	<title>Argus Dashboard</title>
</head>

<body>
	<div id="overlay" style="
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 0, 0, 0.6);
		z-index: 99;
	">
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
	</div>
	{{{ header }}}
	
	{{{ content }}}
	
	{{{ modals }}}
	
	{{{ footer }}}
	
{{{ scripts }}}
</body>
</html>